<%= render "collection_navbar" %>


<div class="container" id="collection-stats">
  <div class="row">
    <div class="col-lg-3">
      <h2>About your collection:</h2>
      <h4>Albums: <%= current_user.albums.count %></h4>
    <div>

  </div>

</div>

<div class="container" id="user-recent-spins">
  <div class="row">
    <div class="col-lg-3">
      <h2>Recent spins: </h2>
        <ul>
            <li>Whut</li>
            <li>Deez</li>
            <li>Yup</li>
            <li>Whorediot</li>
        </ul>
    </div>
  </div>
</div>


<div class="container" id="charts">
  <div class="row">
    <div class="col-lg-3">
      <h2>Top albums: </h2>
        <ul>
            <li>Whut</li>
            <li>Deez</li>
            <li>Yup</li>
            <li>Whorediot</li>
        </ul>
    </div>
  </div>
</div>