<h2>Most-Collected Albums:</h2>

<% @albums.rankings.each do |a| %>
  <p><%= link_to "#{a[0].title}, by #{a[0].artist_name}", album_path(a[0])%>:   <%= a[1]%> <%= "#{'fan'.pluralize(a[1])}" %></p>


<% end %>


