<h1>Spinner!</h1>

<% if user_signed_in? %>
  <h1>Hey, <%= current_user.name%></h1>
<% else %>

<h3>Check out some of these records:</h3>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Fans</th>
    <th>Last Spun</th>
    <th>I WANT THAT ONE</th>
  <tr>

  <% @albums.each do |a| %>
    

  <% end %>
</table>