
function getUserAlbums(obj){
  event.preventDefault()
// debugger;
  var target = obj["currentTarget"]
  var path = target["pathname"]
  $.get(path + ".json", buildUserShow)
}

function buildUserShow(arr){
  var albums = arr.user.albums
  var spinInfo = arr.user.user_albums
  var page = $("div.page-content").html("<h1>PLAY SOME DAMN RECORDS</h1>")
  if (arr.user.name !== undefined){
    var greeting = page.text()
    greeting += ", " + arr.user.name
    page.html("<h1>" + greeting + "</h1>") 
  }

  var url = "http://localhost:3000/"
  $.each(albums, function(i, alb){
    var albDisp = albumDisplay(alb)
    var spinDisp = albumSpinDisplay(spinInfo[i])
    var content = "<div data-albid='" + alb.id + "'>"
        content += albDisp
        content += spinDisp
        content += "</div>"
    page.append(content)
  })

}


