// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.container {
  .most-collected {
  display: inline-block;
  width: 30%;
  background-color: #EEE;
  
  }
}

table.albums-index {
  display: inline-block;
  width: 60%;
  
}

.container .album-card {
  
  display: inline-block;
  width: 30%;
  height: 50px;
  border-spacing: 2px;
  img {
    vertical-align: middle; 
    position: relative;
    padding-left: 5px;
    img.resize{
      height: auto;

    }

  }

  p {


  }

  


}