/* navbar */
.navbar-collection {
    background-color: #444;
    border-color: #E7E7E7;
}

/* link */
.navbar-collection .navbar-nav > li > a {
    color: #777;
}
.navbar-collection .navbar-nav > li > a:hover,
.navbar-collection .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-collection .navbar-nav > .active > a, 
.navbar-collection .navbar-nav > .active > a:hover, 
.navbar-collection .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-collection .navbar-nav > .open > a, 
.navbar-collection .navbar-nav > .open > a:hover, 
.navbar-collection .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-collection .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-collection .navbar-nav > .dropdown > a:hover .caret,
.navbar-collection .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-collection .navbar-nav > .open > a .caret, 
.navbar-collection .navbar-nav > .open > a:hover .caret, 
.navbar-collection .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-collection .navbar-toggle {
    border-color: #DDD;
}
.navbar-collection .navbar-toggle:hover,
.navbar-collection .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-collection .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-collection .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-collection .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-collection .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}


/* COLLECTION BODY */
#collection-stats {
    border-width: 2px;
    background-color: #777;
}
